.heading-primary {
  margin-bottom: 5rem;
  color: $color-white;
  text-transform: uppercase;
  /* 
    *backface-visibility: 
    Определяет, видно ли заднюю грань элемента.
  */
  backface-visibility: hidden;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: 1s ease-out moveInLeft;
    @include responde(phone) {
      letter-spacing: 1rem;
      font-size: 5rem;
    }
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: 1s ease-out moveInRight;
    @include responde(phone) {
      letter-spacing: 0.5rem;
    }
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2rem;
  @include textWithGradient($color-primary-light, $color-primary-dark);
  transition: all 300ms;

  @include responde(tab-port) {
    font-size: 3rem;
  }
  @include responde(phone) {
    font-size: 2.5rem;
  }

  &:hover {
    transform: skewY(2deg) skewX(15deg);
    /*
      text-shadow
      Тень только на текст. 
    */
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, 0.2);
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
