.header {
  position: relative;
  height: 95vh;

  @include backgroundImageWithGradient("./img/hero.jpg");

  /* 
    clip-path - создаёт ограниченную область видимости.
    Части, которые находятся в ней будут видны, те которые находятся
    за ней, будут скрыты.

    !clippy - инструмент, который нам в этом может помочь
  */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  @include responde(phone) {
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }

  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 3.5rem;
  }

  &__text-box {
    position: absolute;
    /* Тут в качестве остчёта, берётся ширина и высота родителя */
    top: 40%;
    left: 50%;
    /* Тут в качестве остчёта, берётся ширина и высота элемента */
    transform: translate(-50%, -50%);

    text-align: center;
  }
}
