.form {
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__input {
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    color: inherit;
    background-color: rgba($color-white, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;
    transition: all 300ms;

    @include responde(tab-port) {
      width: 100%;
    }

    //Добавление нижней рамки при фокусе
    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      border-bottom: 3px solid $color-primary;
    }

    //Цвет сигнализирующий об незаполненном поле :focus:invalid
    &:focus:invalid {
      border-bottom: 3px solid $color-secondary-dark;
    }

    //Стилизация placeholder
    &::-webkit-input-placeholder {
      color: $color-dark-grey-ultra;
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    display: block;
    transition: all 300ms;
    transform: translateY(0);
  }

  //Анимация label только когда нет placeholder
  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  //Radio buttons
  &__radio-group {
    width: 49%;
    display: inline-block;

    @include responde(tab-port) {
      width: 100%;
      margin-bottom: 2rem;
    }
  }

  &__radio-label {
    font-size: $default-font-size;
    cursor: pointer;
    position: relative;
    padding-left: 4.5rem;
  }

  &__radio-button {
    height: 3rem;
    width: 3rem;
    border: 5px solid $color-primary;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: -0.4rem;

    &::after {
      content: "";
      display: block;
      height: 1.3rem;
      width: 1.3rem;
      background-color: $color-primary;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: all 300ms;
      opacity: 0;
    }
  }

  &__radio-input {
    display: none;
  }

  &__radio-input:checked + &__radio-label &__radio-button::after {
    opacity: 1;
  }
}
