.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  background-color: rgba($color-white, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: $default-font-size;
  transform: skewX(-12deg);

  @include responde(tab-port) {
    width: 100%;
    padding: 4rem;
    padding-left: 7rem;
  }
  @include responde(phone) {
    transform: skewX(0);
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  &:hover &__img {
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%);
  }

  & > * {
    transform: skewX(12deg);
    @include responde(phone) {
      transform: skewX(0);
    }
  }

  &__shape {
    position: relative;
    width: 15rem;
    height: 15rem;
    float: left;
    clip-path: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    /* 
      shape-outside
      Определяет форму, которая может быть непрямоугольной,
      вокруг которой должно оборачиваться смежное встроенное содержимое.
    */
    shape-outside: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    @include responde(phone) {
      transform: translateX(-3rem) skewX(0);
    }
  }

  &__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    transition: all 300ms;
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    opacity: 0;
    color: $color-white;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.7rem;
    transition: all 300ms;
    backface-visibility: hidden;
  }
}
